<div class="container">
  <h2>1- Components</h2>
  <app-components-wrapper></app-components-wrapper>
  <h2>2- Databinding</h2>
  <app-databinding-wrapper></app-databinding-wrapper>
  <h2>3- Directives</h2>
  <app-directives-wrapper></app-directives-wrapper>
  <h2>4- Property & Event Binding and View Encapsulation</h2>
  <app-binding-wrapper></app-binding-wrapper>
  <h2>4.1 Custom directives</h2>
  <app-custom-wrapper></app-custom-wrapper>
  <h2>5 Services</h2>
  <app-wrapper-services></app-wrapper-services>
  <h2>6 Routing</h2>
  <app-routes-wrapper></app-routes-wrapper>
  <h2>7 Template Driven Forms</h2>
  <app-form-wrapper></app-form-wrapper>
  <h2>8 Reactive Forms</h2>
  <app-reactive-wrapper></app-reactive-wrapper>
</div>
